<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-pc9ioAiED0OLT3wprzWaFgpwk5Qr4fg</string>
	<key>GCM_SENDER_ID</key>
	<string>600649128608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.affafistibsharazhar.finallyfirebase</string>
	<key>PROJECT_ID</key>
	<string>finallyfirebase-51d8b</string>
	<key>STORAGE_BUCKET</key>
	<string>finallyfirebase-51d8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600649128608:ios:158e53746690e6b82947c5</string>
</dict>
</plist>